<div id="xmDiv" onclick="xm()" style="position:fixed;bottom:-5%;left:0;">
 <img style="width:35%" src="http://oohltqe38.bkt.clouddn.com/usr/uploads/2017/08/2645853028.png"/>
 <script>
        var isXmUp;
        var xmDiv=document.getElementById("xmDiv");
        function  xm(){
            if(isXmUp){
               xmDiv.style.bottom="-5%";
               isXmUp=false;
            }else{
               xmDiv.style.bottom="0%";
               isXmUp=true;
                 }
	        }
 </script>
</div>